<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSG91.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MSG91.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>iMaginary</value>
            </setting>
            <setting name="ShowChar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mySize" serializeAs="String">
                <value>871, 552</value>
            </setting>
            <setting name="myLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
        </MSG91.Properties.Settings>
    </userSettings>
</configuration>